html, body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px 50px;
    border: 1px solid #888;
    width: fit-content;
    text-align: center;
}

.hidden {
    display: none;
}

.mainText {
    text-align: center;
}

#backButton {
    margin-right: 10px;
}

#createRoomRoomId {
    font-weight: bold;
}

#gameArea {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid #ccc;
}

.cell:hover {
    cursor: pointer;
    background-color: #eee;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #999;
    color: white;
    padding: 20px 40px;
}

.left-element {
    flex: 1;
    text-align: left;
}

.middle-element {
    flex: 1;
    text-align: center;
}

.right-element {
    flex: 1;
    text-align: right;
}

.roomItem {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;
}